# Dependencies
node_modules/
**/node_modules/

# Environment files (important)
.env
.env.*
**/.env
**/.env.*

# Build / caches
.expo/
dist/
build/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
